:root {
  --dark-blue: #222222;
  --pink: #f1e4e6;
  --dark-pink: #f16d7f;
  --brown: #474040;
}

body {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.container {
  width: 1138px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  background-color: var(--dark-blue);
}

.header__wrapper {
  display: flex;
  align-items: center;
  min-height: 75px;
  justify-content: space-between;
}

.header_button {
  background-color: transparent;
  border: none;
  margin: 0 34px 0 0;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__person_link {
  margin: 0 34px 0 0;
}

.header__person_link:active,
.header__person_link:hover,
.header__person_link:focus,
.share__link:active,
.share__link:hover,
.share__link:focus,
.header__logo-link:active,
.header__logo-link:hover,
.header__logo-link:focus {
  background-color: transparent;
}

.header__navigation {
  display: none;
}
.brand {
  display: flex;
  margin: 0 0 63px;
}

.brand__title {
  font-family: "Lato";
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
}

.brand__title_wrapper {
  background-color: var(--pink);
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0 0 0 92px;
}

.brand__subtitle {
  display: block;
  font-size: 37px;
  font-weight: 700;
  line-height: 44px;
}

.brand__subtitle-pink {
  color: var(--dark-pink);
}

.offers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offers__item {
  width: 360px;
  min-height: 260px;
  background-color: var(--brown);
  margin: 0 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offers__item_woman {
  background-image: url(../img/woman.jpg);
}

.offers__item_men {
  background-image: url(../img/men_offers.jpg);
}

.offers__item_kids {
  background-image: url(../img/kids_offers.jpg);
}

.offers__item_accesories {
  background-image: url(../img/accesories_offers.jpg);
  width: 100%;
  margin: 0;
}

.offers__features,
.offers__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
}

.offers__text {
  color: var(--dark-pink);
}

.products__title_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin: 97px 0 6px;
}

.products__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  margin: 0 0 48px;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products__item {
  width: 360px;
  margin: 0 0 30px;
}

.products__item:hover .products__item_wrapper-overlay:before {
  display: block;
}

.products__item_wrapper-overlay {
  position: relative;
}

.products__item_wrapper-overlay:hover .products__button {
  display: block;
  cursor: pointer;
}

.products__item_wrapper-overlay:before {
  content: "";
  width: 100%;
  min-height: 420px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  display: none;
}

.products__img {
  margin: 0 0 25px;
  min-width: 360px;
  min-height: 420px;
}

.products__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: 1px solid #ffffff;
  display: none;
}

.products__button-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding: 0 15px 0 0;
  border: none;
  position: relative;
  bottom: 15px;
}

.products__cart {
  padding: 10px 11px 8px 13px;
}

.products__card-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 0 0 12px;
}

.products__card-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  margin: 0 0 18px;
}

.products__card-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  margin: 0 0 20px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.button {
  margin: 18px 0 95px;
  padding: 14px 38px;
  border: 1px solid #ff6a6a;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
}

.button:hover,
:focus {
  color: #ffffff;
  background: #ff6a6a;
  cursor: pointer;
}

.button:active {
  color: #000;
}

.advantages {
  background-color: #222224;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
}

.advantages__item {
  width: 360px;
  padding: 103px 0;
}

.advantages__img_wrapper {
  display: flex;
  justify-content: center;
}

.advantages__title {
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
  text-align: center;
  margin: 0 0 16px;
}

.advantages__img {
  margin: 0 0 28px;
}

.advantages__img_indent {
  margin: 0 0 19px;
}

.advantages__img_indent-quality {
  margin: 0 0 24px;
}

.advantages__text {
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
}

.subscribe {
  background-image: url(../img/bcg_subscribe.jpg);
  background-repeat: no-repeat;
  padding: 86px 0 156px;
}
.subscribe__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe__section {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe__img {
  margin: 0 0 30px;
}

.subscribe__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subscribe__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  color: #222224;
}

.subscribe__text_size {
  text-transform: uppercase;
  font-size: 18px;
  margin: 0 0 32px;
}

.subscribe__input {
  background: #e1e1e1;
  padding: 15px 65px 15px 25px;
  border: none;
  border-radius: 20px 0 0 20px;
  color: #000;
  cursor: text;
  outline: none;
}

.subscribe__input:hover,
:focus {
  cursor: text;
}

.subscribe__input_button {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background: #f16d7f;
  border: none;
  padding: 14px;
  border-radius: 0 20px 20px 0;
}

.subscribe__input_button:hover,
:focus {
  opacity: 80%;
  cursor: pointer;
}

.subscribe__input_button:active {
  opacity: 100%;
  color: #000;
}

.subscribe__wrapper-input {
  display: flex;
}

.share {
  background: #222224;
  padding: 30px 0 30px;
}

.share__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.share__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.section-title_wrapper {
  background-color: rgb(247, 244, 244);
  width: 100%;
  padding: 40px 0 40px 0;
}

.section-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #f3909d;
  text-transform: uppercase;
}

.person-data__title_wrapper {
  min-width: 1138px;
}

.person-data__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 50px;
}

.person-data__name,
.person-data__login {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
}

.person-data__section-caption,
.person-data__section-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #9f9f9f;
  margin: 0 0 20px 0;
}

.person-data__section-caption_wrapper {
  display: flex;
}

.person-data__radio-input_male,
.person-data__radio-input_female {
  display: none;
}

.person-data__input-label_male {
  margin: 0 0 0 20px;
}

.person-data__input-label_female {
  margin: 0 0 0 30px;
}

.person-data__input-label_male,
.person-data__input-label_female {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #9f9f9f;
  position: relative;
}

.person-data__input-label_male:before,
.person-data__input-label_female:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #9f9f9f;
  border-radius: 50%;
  top: 3px;
  left: -20px;
  cursor: pointer;
}

.person-data__radio-input_male:checked + .person-data__input-label_male:before,
.person-data__radio-input_female:checked
  + .person-data__input-label_female:before {
  background: #9f9f9f;
}

.person-data__entering-information {
  margin: 0 0 10px 0;
  border: 2px solid #ccc;
  outline: none;
}

.person-data__entering-information:focus {
  background-color: #fff;
  cursor: text;
  color: #000;
}

.person-data__text {
  margin: 0 0 10px 0;
}

.person-data__button {
  padding: 10px 25px 10px 20px;
  color: #fff;
  background-color: var(--dark-pink);
  border: none;
}

.person-data__button:hover {
  cursor: pointer;
}

.person-data__button_decoration {
  padding: 0 0 0 15px;
  font-size: 20px;
}

.person-data__section {
  max-width: 470px;
}

.person-data__title,
.person-data__section-title,
.person-data__button {
  text-transform: uppercase;
}

.person-data__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #9f9f9f;
}

.person-data__entering-information {
  padding: 10px 130px 10px 20px;
}
