/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.container {
  width: 71%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@media (max-width: 768px) {
  .container {
    width: 96%;
  }
}

.header {
  background-color: #222222;
}

.header__controls {
  display: flex;
  align-items: baseline;
}

.header__wrapper {
  display: flex;
  align-items: center;
  min-height: 75px;
  justify-content: space-between;
  position: relative;
}

.header__button {
  background-color: transparent;
  border: none;
  margin: 0 34px 0 0;
}

.header__button:hover, .header__button :focus {
  cursor: pointer;
  opacity: 0.7;
}

.header__button:active {
  opacity: 1;
  cursor: pointer;
}

.header__logo-link {
  margin: 0 41px 0 0;
}

.header__logo-link:hover, .header__logo-link :focus {
  opacity: 0.7;
  cursor: pointer;
}

.header__logo-link:active {
  opacity: 1;
  cursor: pointer;
}

.header__person-link {
  margin: 0 34px 0 0;
}

@media (max-width: 375px) {
  .header__person-link {
    display: none;
  }
}

.header__person-link:hover, .header__person-link :focus {
  cursor: pointer;
  opacity: 0.7;
}

.header__person-link:active {
  opacity: 1;
  cursor: pointer;
}

@media (max-width: 375px) {
  .header__cart {
    display: none;
  }
}

.header__cart:hover, .header__cart :focus {
  cursor: pointer;
  opacity: 0.7;
}

.header__cart:active {
  opacity: 1;
  cursor: pointer;
}

.header__navigation {
  position: absolute;
  min-width: 285px;
  min-height: 765px;
  top: 100%;
  z-index: 1;
  right: -105px;
  background: #FFFFFF;
  display: none;
  box-shadow: 0 0 10px;
}

.header__navigation-wrapper {
  padding: 37px 0 0 34px;
}

.header__navigation-title {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 24px;
}

.header__navigation-subtitle {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  margin: 20px 0 12px;
}

.header__navigation-link {
  display: block;
  width: fit-content;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-decoration: none;
  margin: 0 0 11px;
}

.header__navigation-link:hover {
  opacity: 0.5;
}

.header__navigation-link:active {
  color: #000000;
  opacity: 1;
}

.display-block {
  display: block;
}

.brand__wrapper {
  display: flex;
  margin: 0 0 63px;
}

@media (max-width: 768px) {
  .brand__wrapper {
    margin: 0 0 20px;
  }
}

.brand__img {
  width: 50%;
  height: auto;
}

@media (max-width: 375px) {
  .brand__img {
    display: none;
  }
}

.brand__title {
  font-family: "Lato";
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  position: relative;
}

@media (max-width: 768px) {
  .brand__title {
    font-size: 44px;
    line-height: 53px;
  }
}

@media (max-width: 375px) {
  .brand__title {
    font-size: 38px;
    line-height: 46px;
  }
}

.brand__title:before {
  content: '';
  width: 4px;
  height: 100%;
  background-color: #f16d7f;
  position: absolute;
  left: -20px;
}

.brand__title-wrapper {
  background-color: #f1e4e6;
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0 0 0 92px;
}

@media (max-width: 375px) {
  .brand__title-wrapper {
    min-height: 363px;
  }
}

.brand__subtitle {
  display: block;
  font-size: 37px;
  font-weight: 700;
  line-height: 44px;
}

@media (max-width: 768px) {
  .brand__subtitle {
    font-size: 24px;
    line-height: 29px;
  }
}

@media (max-width: 768px) {
  .brand__subtitle {
    font-size: 20px;
    line-height: 24px;
  }
}

.brand__subtitle-pink {
  color: #f16d7f;
}

.brand__wrapper-overlay {
  position: relative;
  width: 100%;
}

.brand__wrapper-overlay:before {
  content: "";
  width: 100%;
  min-height: 765px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  display: block;
}

.offers .offers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 96px;
}

@media (max-width: 375px) {
  .offers .offers__list {
    margin: 0 0 64px;
  }
}

.offers .offers__item {
  width: 32%;
  min-height: 260px;
  background-color: #474040;
  margin: 0 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .offers .offers__item {
    min-height: 168px;
  }
}

@media (max-width: 375px) {
  .offers .offers__item {
    width: 100%;
  }
}

.offers .offers__item_woman {
  background-image: url(../img/woman.jpg);
}

.offers .offers__item_men {
  background-image: url(../img/men_offers.jpg);
}

.offers .offers__item_kids {
  background-image: url(../img/kids_offers.jpg);
}

.offers .offers__item_accesories {
  background-image: url(../img/accesories_offers.jpg);
  width: 100%;
  background-size: cover;
  margin: 0;
}

.offers .offers__features,
.offers .offers__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
}

.offers .offers__text {
  color: #f16d7f;
}

.products__title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin: 0 0 6px;
}

@media (max-width: 375px) {
  .products__title {
    margin: 0 0 3px;
  }
}

.products__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  margin: 0 0 48px;
}

@media (max-width: 768px) {
  .products__text {
    margin: 0 0 73px;
  }
}

@media (max-width: 375px) {
  .products__text {
    margin: 0 0 65px;
  }
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 48px;
}

@media (max-width: 768px) {
  .products__list {
    margin: 0 0 33px;
  }
}

.products__item {
  width: 360px;
  margin: 0 0 30px;
}

@media (max-width: 768px) {
  .products__item {
    margin: 0 0 16px;
  }
}

.products__img {
  padding: 0 0 25px;
  min-width: 360px;
  min-height: 420px;
  display: block;
}

.products__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: 1px solid #ffffff;
  display: none;
}

.products__button :active {
  opacity: 1;
  cursor: pointer;
}

.products__button-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding: 0 15px 0 0;
  border: none;
  position: relative;
  bottom: 15px;
}

.products__cart {
  padding: 10px 11px 8px 13px;
}

.products__card-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 0 0 12px;
}

.products__card-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  margin: 0 0 18px;
}

.products__card-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.products__item-wrapper-overlay {
  position: relative;
}

.products__item-wrapper {
  padding: 0 18px 18px;
}

.products__item:hover .products__item-wrapper-overlay:before {
  display: block;
}

.products__item-wrapper-overlay:hover .products__button {
  display: block;
  cursor: pointer;
}

.products__item-wrapper-overlay:before {
  content: "";
  width: 100%;
  min-height: 420px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  display: none;
}

.products__button-all {
  padding: 14px 38px;
  border: 1px solid #ff6a6a;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
}

.products__button-all-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 0 95px;
}

@media (max-width: 768px) {
  .products__button-all-wrapper {
    margin: 0 0 79px;
  }
}

.products__button-all:hover,
.products__button-all :focus {
  color: #ffffff;
  background: #ff6a6a;
  cursor: pointer;
}

.products__button-all:active {
  color: #000;
}

.advantages {
  background-color: #222224;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  padding: 103px 0;
}

@media (max-width: 768px) {
  .advantages__list {
    flex-direction: column;
    align-items: center;
  }
  .advantages__list :nth-child(3) {
    margin: 0;
  }
}

@media (max-width: 375px) {
  .advantages__list {
    padding: 48px 0 81px;
  }
}

.advantages__item {
  width: 48%;
}

@media (max-width: 768px) {
  .advantages__item {
    margin: 0 0 48px;
  }
}

@media (max-width: 375px) {
  .advantages__item {
    width: 100%;
  }
}

.advantages__img-wrapper {
  display: flex;
  justify-content: center;
}

.advantages__title {
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
  text-align: center;
  margin: 0 0 16px;
}

.advantages__img {
  margin: 0 0 28px;
}

.advantages__img-indent {
  margin: 0 0 19px;
}

.advantages__img-indent-quality {
  margin: 0 0 24px;
}

.advantages__text {
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
}

.subscribe__wrapper-background {
  background-image: url(../img/bcg_subscribe.jpg);
  padding: 86px 0 156px;
  background-size: cover;
}

@media (max-width: 768px) {
  .subscribe__wrapper-background {
    padding: 53px 0 140px;
  }
}

@media (max-width: 375px) {
  .subscribe__wrapper-background {
    padding: 54px 0 110px;
  }
}

.subscribe__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .subscribe__wrapper {
    flex-direction: column;
  }
}

.subscribe__section {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 375px) {
  .subscribe__section {
    width: 100%;
  }
}

.subscribe__img {
  margin: 0 0 30px;
}

.subscribe__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

@media (max-width: 768px) {
  .subscribe__text {
    margin: 0 0 50px;
  }
}

@media (max-width: 375px) {
  .subscribe__text {
    margin: 0 0 60px;
  }
}

.subscribe__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  color: #222224;
}

.subscribe__text_size {
  text-transform: uppercase;
  font-size: 18px;
  margin: 0 0 32px;
}

@media (max-width: 375px) {
  .subscribe__text_size {
    margin: 0 0 22px;
  }
}

.subscribe__input {
  background: #e1e1e1;
  padding: 0 0 0 25px;
  border: none;
  border-radius: 20px 0 0 20px;
  color: #000;
  cursor: text;
  outline: none;
  width: 235px;
  box-sizing: border-box;
}

.subscribe__input:hover,
.subscribe__input :focus {
  cursor: text;
}

.subscribe__input-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background: #f16d7f;
  border: none;
  padding: 14px;
  border-radius: 0 20px 20px 0;
}

.subscribe__input-button:hover,
.subscribe__input-button :focus {
  opacity: 80%;
  cursor: pointer;
}

.subscribe__input-button:active {
  opacity: 100%;
  color: #000;
}

.subscribe__wrapper-input {
  display: flex;
}

.share__wrapper-background {
  background: #222224;
  padding: 30px 0 30px;
}

.share__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 375px) {
  .share__wrapper {
    flex-direction: column-reverse;
  }
}

.share__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.share__link {
  text-decoration: none;
}

.share__link :hover, .share__link :focus {
  opacity: 0.7;
  cursor: pointer;
}

.share__link :active {
  opacity: 1;
  cursor: pointer;
}

@media (max-width: 375px) {
  .share__social {
    margin: 0 0 40px;
  }
}

.person-data__title-wrapper {
  background-color: #f8f3f4;
  width: 100%;
  padding: 59px 0 60px;
  margin: 0 0 64px;
}

@media (max-width: 375px) {
  .person-data__title-wrapper {
    margin: 0 0 40px;
  }
}

.person-data__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #f3909d;
  text-transform: uppercase;
}

@media (max-width: 375px) {
  .person-data__title {
    text-align: center;
  }
}

.person-data__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 0 96px;
}

@media (max-width: 375px) {
  .person-data__wrapper {
    flex-direction: column;
    align-items: center;
    margin: 0 0 100px;
  }
}

.person-data__section-login {
  width: 32%;
}

@media (max-width: 375px) {
  .person-data__section-login {
    width: 94%;
    margin: 0 0 40px;
  }
}

.person-data__name {
  display: flex;
  flex-direction: column;
  margin: 0 0 32px 0;
}

.person-data__login {
  display: flex;
  flex-direction: column;
  margin: 0 0 40px 0;
}

.person-data__section-caption {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #9f9f9f;
  margin: 0 0 20px 0;
}

.person-data__section-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #9f9f9f;
  margin: 0 0 20px 0;
}

@media (max-width: 768px) {
  .person-data__section-title {
    margin: 0 0 32px;
  }
}

.person-data__section-caption_wrapper {
  display: flex;
}

.person-data .person-data__radio-input_male,
.person-data .person-data__radio-input_female {
  display: none;
}

.person-data .person-data__input-label_male {
  margin: 0 0 0 20px;
}

.person-data .person-data__input-label_female {
  margin: 0 0 0 30px;
}

.person-data .person-data__input-label_male,
.person-data .person-data__input-label_female {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #9f9f9f;
  position: relative;
}

.person-data .person-data__input-label_male:before,
.person-data .person-data__input-label_female:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #9f9f9f;
  border-radius: 50%;
  top: 3px;
  left: -20px;
  cursor: pointer;
}

.person-data .person-data__radio-input_male:checked + .person-data__input-label_male:before,
.person-data .person-data__radio-input_female:checked + .person-data__input-label_female:before {
  background: #9f9f9f;
}

.person-data__entering-information {
  margin: 0 0 21px 0;
  border: 2px solid #ccc;
  outline: none;
  width: 100%;
  height: 45px;
  padding: 0 0 0 15px;
  box-sizing: border-box;
}

.person-data__entering-information:focus {
  background-color: #fff;
  cursor: text;
  color: #000;
}

.person-data__entering-information_margin-lastname {
  margin: 0 0 32px;
}

.person-data__entering-information_margin-password {
  margin: 0 0 15px;
}

.person-data__password-requirement {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.person-data__text {
  margin: 0 0 21px;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #9f9f9f;
}

.person-data__text-margin {
  margin: 0 0 15px 25px;
  position: relative;
}

.person-data__text-margin:before {
  position: absolute;
  content: "";
  background-image: url(https://www.svgrepo.com/show/169312/check-mark.svg);
  opacity: 50%;
  width: 15px;
  height: 15px;
  top: 3px;
  left: -25px;
}

.person-data .person-data__button {
  padding: 10px 25px 10px 20px;
  color: #fff;
  background-color: #f16d7f;
  border: none;
}

.person-data .person-data__button:hover, .person-data .person-data__button :focus {
  cursor: pointer;
  opacity: 0.7;
}

.person-data .person-data__button:active {
  cursor: pointer;
  opacity: 1;
  color: #000;
}

.person-data .person-data__button_decoration {
  padding: 0 0 0 15px;
  font-size: 20px;
}

.person-data .person-data__section {
  width: 57%;
}

@media (max-width: 375px) {
  .person-data .person-data__section {
    width: 100%;
  }
}

.person-data .person-data__title,
.person-data .person-data__section-title,
.person-data .person-data__button {
  text-transform: uppercase;
}

.shopping-cart__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #f3909d;
  text-transform: uppercase;
}

.shopping-cart__title-wrapper {
  background-color: #f8f3f4;
  width: 100%;
  padding: 40px 0 40px 0;
  margin: 0 0 96px;
}

@media (max-width: 768px) {
  .shopping-cart__title-wrapper {
    margin: 0 0 59px;
  }
}

@media (max-width: 375px) {
  .shopping-cart__title-wrapper {
    text-align: center;
    margin: 0 0 39px;
  }
}

.cart__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 0 128px;
}

@media (max-width: 768px) {
  .cart__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 375px) {
  .cart__wrapper {
    margin: 0 0 96px;
  }
}

.cart__products-wrapper {
  display: flex;
  flex-direction: column;
  width: 57%;
}

@media (max-width: 768px) {
  .cart__products-wrapper {
    width: 100%;
    align-items: center;
    margin: 0 0 64px;
  }
}

@media (max-width: 375px) {
  .cart__products-wrapper {
    margin: 0 0 48px;
  }
}

.cart__products-list {
  display: flex;
  flex-direction: column;
  margin: 0 0 72px;
}

@media (max-width: 768px) {
  .cart__products-list {
    align-self: normal;
  }
}

@media (max-width: 375px) {
  .cart__products-list {
    margin: 0 0 30px;
  }
}

.cart__products-list :last-child {
  margin: 0;
}

.cart__products-item {
  display: flex;
  margin: 0 0 40px;
  box-shadow: 11px 11px 15px 0px rgba(50, 50, 50, 0.5);
  flex-wrap: wrap;
}

@media (max-width: 375px) {
  .cart__products-item {
    flex-wrap: nowrap;
    height: 188px;
    margin: 0 0 32px;
  }
}

@media (max-width: 375px) {
  .cart__products-img {
    width: 143px;
    height: 188px;
  }
}

.cart__products-item-wrapper {
  padding: 22px 0 62px 32px;
}

@media (max-width: 375px) {
  .cart__products-item-wrapper {
    padding: 13px 0 38px 17px;
  }
}

.cart__products-item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin: 0 0 42px;
  text-transform: uppercase;
}

@media (max-width: 375px) {
  .cart__products-item-title {
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 25px;
  }
}

.cart__products-list-description :last-child {
  margin: 0;
}

.cart__products-list-description-item {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin: 0 0 6px;
}

@media (max-width: 375px) {
  .cart__products-list-description-item {
    font-size: 14px;
    line-height: 17px;
  }
}

.cart__products-list-description-item_color-pink {
  color: #f16d7f;
}

.cart__button-wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .cart__button-wrapper {
    width: 80%;
  }
}

@media (max-width: 375px) {
  .cart__button-wrapper {
    width: 100%;
  }
}

.cart__button {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #a4a4a4;
  text-transform: uppercase;
  padding: 0 40px;
  background-color: transparent;
  border: 1px solid #A4A4A4;
  height: 50px;
}

@media (max-width: 375px) {
  .cart__button {
    height: 33px;
    font-size: 12px;
    line-height: 14px;
    text-transform: none;
    width: 48%;
  }
}

.cart__button:hover, .cart__button :focus {
  background-color: #f16d7f;
  cursor: pointer;
  color: #fff;
}

.cart__button:active {
  opacity: 0.7;
}

.cart__registration {
  width: 32%;
}

@media (max-width: 768px) {
  .cart__registration {
    width: 100%;
  }
}

.cart__registration-wrapper {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .cart__registration-wrapper {
    flex-direction: unset;
    justify-content: space-between;
  }
}

@media (max-width: 375px) {
  .cart__registration-wrapper {
    flex-direction: column;
  }
}

.cart__registration-section-shipping {
  display: flex;
  flex-direction: column;
  margin: 0 0 57px;
}

@media (max-width: 768px) {
  .cart__registration-section-shipping {
    width: 48%;
  }
}

@media (max-width: 375px) {
  .cart__registration-section-shipping {
    width: 100%;
    margin: 0 0 48px;
  }
}

.cart__registration-title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin: 0 0 21px;
}

.cart__registration-input {
  margin: 0 0 21px;
  height: 44px;
  padding: 0 0 0 20px;
  border: 1px solid #A4A4A4;
  box-sizing: border-box;
}

.cart__registration-button-shipping {
  text-transform: uppercase;
  max-width: 110px;
  padding: 10px 15px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  background-color: transparent;
  border: 1px solid #A4A4A4;
}

.cart__registration-button-shipping:hover, .cart__registration-button-shipping :focus {
  background-color: #f16d7f;
  cursor: pointer;
  color: #fff;
}

.cart__registration-button-shipping:active {
  opacity: 0.7;
}

.cart__registration-section {
  padding: 42px;
  background: #F5F3F3;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 214px;
}

@media (max-width: 768px) {
  .cart__registration-section {
    width: 48%;
    margin: 40px 0 0;
  }
}

@media (max-width: 375px) {
  .cart__registration-section {
    width: 100%;
  }
}

.cart__registration-text {
  margin: 0 0 12px;
  text-align: end;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-transform: uppercase;
}

.cart__registration-text-grand {
  margin: 0 0 21px;
  text-align: end;
  font-size: 16px;
  line-height: 19px;
  color: #4A4A4A;
  text-transform: uppercase;
}

.cart__registration-text-grand_color-pink {
  color: #f16d7f;
  padding: 0 0 0 20px;
}

.cart__registration-text-prise-padding {
  padding: 0 0 0 20px;
}

.cart__registration-line {
  margin: 0 0 17px;
  border-color: #E2E2E2;
  align-self: center;
  width: 280px;
}

.cart__registration-button-checkout {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  align-self: center;
  background-color: #f16d7f;
  border: none;
  padding: 15px 40px;
  text-transform: uppercase;
}

.cart__registration-button-checkout:hover, .cart__registration-button-checkout :focus {
  background-color: #fff;
  cursor: pointer;
  color: #f16d7f;
}

.cart__registration-button-checkout:active {
  opacity: 0.7;
}
/*# sourceMappingURL=style.css.map */