body {
    font-family: 'lato', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.container {
    width: 71%;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

@media (max-width: 768px) {

    .container{
        width: 96%;
    }
}

.arrow-big {
    font-size: 30px;
}