.advantages {
    background-color: #222224;

    &__list {
        display: flex;
        justify-content: space-between;
        padding: 103px 0;

        @include tablet {
            flex-direction: column;
            align-items: center;

            :nth-child(3) {
                margin: 0;
            }

        }

        @include mobile {
            padding: 48px 0 81px;
        }

    }
    
    &__item {
        width: 48%;

        @include tablet {
            margin: 0 0 48px;
        }

        @include mobile {
            width: 100%;
        }

    }
    
    &__img-wrapper {
        display: flex;
        justify-content: center;
    }
    
    &__title {
        font-size: 19.96px;
        line-height: 24px;
        color: #fbfbfb;
        text-align: center;
        margin: 0 0 16px;
    }
    
    &__img {
        margin: 0 0 28px;
    }
    
    &__img-indent {
        margin: 0 0 19px;
    }
    
    &__img-indent-quality {
        margin: 0 0 24px;
    }
    
    &__text {
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: #fbfbfb;
    }
}