.offers{

    .offers__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 0 96px;

        @include mobile {
            margin: 0 0 64px;
        }

    }

    .offers__item {
        width: 32%;
        min-height: 260px;
        background-color: $brown;
        margin: 0 0 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;

        @include tablet {
            min-height: 168px;
        }

        @include mobile {
            width: 100%;
        }

        &_woman {
            background-color: #fff;
            background-image: url(../img/woman.jpg);
            }
        
        &_men {
            background-color: #fff;
            background-image: url(../img/men_offers.jpg);
        }
        
        &_kids {
            background-color: #fff;
            background-image: url(../img/kids_offers.jpg);
        }
        
        &_accesories {
            background-color: #fff;
            background-image: url(../img/accesories_offers.jpg);
            width: 100%;
            background-size: cover;
            margin: 0;
        }
    }

    .offers__features,
    .offers__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #ffffff;
    }

    .offers__text {
        color: $dark-pink;
    }

}

