.products{

    &__title-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &__title {
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: #222222;
        margin: 0 0 6px;

        @include mobile {
            margin: 0 0 3px;
        }

    }
    
    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #9f9f9f;
        margin: 0 0 48px;

        @include tablet {
            margin: 0 0 73px;
        }

        @include mobile {
            margin: 0 0 65px;
        }

    }
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 0 48px;

        @include tablet {
            margin: 0 0 33px;
        }

    }
    
    &__item {
        width: 360px;
        margin: 0 0 30px;

        @include tablet {
            margin: 0 0 16px;
        }

    }

    &__img {
        padding: 0 0 25px;
        min-width: 360px;
        min-height: 420px;
        display: block;
    }
    
    &__button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: transparent;
        border: 1px solid #ffffff;
        padding: 5px;
        display: none;
        
        :active {
            opacity: 1;
            cursor: pointer;
        }

    }
    
    &__button-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        border: none;
        position: relative;
    }
    
    &__card-title {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        margin: 0 0 12px;
    }
    
    &__card-text {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5d5d5d;
        margin: 0 0 18px;
    }
    
    &__card-price {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #f16d7f;
    }

    &__item-wrapper-overlay {
        position: relative;
    }

    &__item-wrapper{
        padding: 0 18px 18px;
    }
    
}

.products__item:hover .products__item-wrapper-overlay:before {
    display: block;
}

.products__item-wrapper-overlay:hover .products__button {
    display: block;
    cursor: pointer;
}

.products__item-wrapper-overlay:before {
    content: "";
    width: 100%;
    min-height: 420px;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    display: none;
}

.products__button-all {
    padding: 14px 38px;
    border: 1px solid #ff6a6a;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #f26376;

    &-wrapper {
        display: flex;
        justify-content: center;
        margin: 0 0 95px;

        @include tablet {
            margin: 0 0 79px;
        }

    }

    &:hover,
    :focus {
        color: #ffffff;
        background: #ff6a6a;
        cursor: pointer;
    }

    &:active {
        color: #000;
    }

}

